<!DOCTYPE html>
<html>
<head>
    <title>Flask DevOps Project</title>
</head>
<body>

    <p>🚀 Welcome to Flask DevOps Project - CI/CD Updated Successfully!</p>

    <h2>CI/CD Pipeline using Jenkins, Docker, Kubernetes and AWS</h2>

    <p>This application is deployed using a Jenkins CI/CD pipeline.</p>

    <ul>
        <li>✅ Flask</li>
        <li>✅ GitHub</li>
        <li>✅ Jenkins</li>
        <li>✅ Docker</li>
        <li>✅ Kubernetes</li>
        <li>⏭️ AWS EC2 - Skipped</li>
    </ul>

</body>
</html>
